{% extends "!layout.html" %} {% block htmltitle %}
<title>{{ title }} &mdash; {{ project }} &mdash; 登链社区 </title>

{% endblock %} {% block sidebartitle %} {{ super() }} {% endblock %} {% block menu %} {{ super() }}
<a href="{{ pathto('genindex') }}">关键字索引</a>
<p class="caption"><span class="caption-text">相关文档</span></p>
<li class="toctree-l1"><a class="reference internal" href="https://learnblockchain.cn/docs/hardhat/getting-started/">Hardhat 中文文档</a></li>
<li class=" toctree-l1"><a class="reference internal " href="https://learnblockchain.cn/docs/ethers.js/ ">Ethers.js 中文文档</a></li>
<li class="toctree-l1"><a class="reference internal" href="https://learnblockchain.cn/docs/web3.js/">Web3.js 中文文档</a></li>
<li class="toctree-l1 "><a class="reference internal " href="https://learnblockchain.cn/docs/truffle/ "> Truffle 中文文档</a></li>

{% endblock %}